In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [315]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002
1140,tt0316356,22000000,68296293,Open Range,Kevin Costner|Robert Duvall|Michael Gambon|Mic...,Kevin Costner,No place to run. No reason to hide.,A former gunslinger is forced to take up arms ...,139,Western,Tig Productions|Touchstone Pictures|Beacon Pic...,8/29/2003,6.8,2003
179,tt1791528,20000000,11110975,Inherent Vice,Joaquin Phoenix|Josh Brolin|Owen Wilson|Kather...,Paul Thomas Anderson,"Under the paving stones, the beach!","In Los Angeles at the turn of the 1970s, drug-...",148,Comedy|Romance|Crime|Drama|Mystery,Ghoulardi Film Company|Warner Bros.,12/25/2014,6.3,2014
199,tt0787474,60000000,108255770,The Boxtrolls,Ben Kingsley|Isaac Hempstead Wright|Elle Fanni...,Graham Annable|Anthony Stacchi,When troubles strikes friends stack together,An orphaned boy raised by underground creature...,97,Animation|Comedy|Family|Fantasy,Laika Entertainment,9/10/2014,6.6,2014
1851,tt0209958,33000000,104155843,The Cell,Jennifer Lopez|Vincent D'Onofrio|Vince Vaughn|...,Tarsem Singh,Enter The Mind Of A Killer,A psychotherapist journeys inside a comatose s...,107,Horror|Science Fiction|Thriller,New Line Cinema|Avery Pix|Radical Media|Katira...,8/17/2000,5.7,2000

In [62]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [374]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [130]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [376]:
# тут пишем ваш код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
top_budget_movie = data.nlargest(1, columns=["budget"])["original_title"]
answers['1'] = top_budget_movie 
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [6]:
# можно добавлять разные варианты решения
data.budget.max()

380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [131]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'

In [379]:
data = pd.read_csv('movie_bd_v5.csv')
top_runtime_movie = data.nlargest(1, columns=["runtime"])["original_title"]
answers['2'] = top_runtime_movie
answers['2']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [380]:
data = pd.read_csv('movie_bd_v5.csv')
min_runtime_movie = data.nsmallest(1, columns=["runtime"])["original_title"]
answers['3'] = min_runtime_movie

In [ ]:
answers['3'] = '768    Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [384]:
data = pd.read_csv('movie_bd_v5.csv')
mean_runtime = data['runtime'].mean()
answers['4'] = mean_runtime
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [389]:
data = pd.read_csv('movie_bd_v5.csv')
answers['5'] = data['runtime'].median ()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [130]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
data['profit'].max()# профит макисум
# превратить профит в дата фрейм  . как?
#присоединить столбец 'профит' к дата фрейму DATA Это видимо функция  join?
# найт минимум в строке по колонке "original_title"

data[(data.revenue==data.revenue.max())].original_title

239    Avatar
Name: original_title, dtype: object

In [390]:
data = pd.read_csv('movie_bd_v5.csv') #образаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
profit_max = data['profit'].max()#находим максимальное значение профит
film = data[data.profit == profit_max]#определяем строку с макс профитом
film ['original_title']#выдаем название
answers['6'] = film ['original_title']
answers['6']

239    Avatar
Name: original_title, dtype: object

7. Какой фильм самый убыточный?

In [391]:
data = pd.read_csv('movie_bd_v5.csv') #образаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
profit_min = data['profit'].min()#находим мин значение профит
film = data[data.profit == profit_min]#определяем строку с мин профитом
answers['7'] = film ['original_title']#выдаем название
answers['7']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [392]:
data = pd.read_csv('movie_bd_v5.csv') #образаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
profit_film = data[data.profit > 0]#находим положительное значение профит
answers['8'] = len(profit_film)#считаем кол-во убыточных фильмов
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [393]:
data = pd.read_csv('movie_bd_v5.csv') #обращаемся к дата фрейму
films_2008 = data[data.release_year == 2008]# собрали  фильмы 2008 в датафрейм
answers['9'] = films_2008[(films_2008.revenue==films_2008.revenue.max())].original_title #выделим название самого кассового 2008
answers['9']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [394]:
data = pd.read_csv('movie_bd_v5.csv') #обращаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
films_2012_2014 =data[data.release_year.between(2012,2014)]# собрали  фильмы 2012_2014 в датафрейм
answers['10'] = films_2012_2014[(films_2012_2014.profit==films_2012_2014.profit.min())].original_title #выделим название самого убыточного
answers['10']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [201]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
'''Поэтому, для начала нужно преобразовать строки в списки. 
После чего нужно будет посчитать, сколько раз каждый из жанров встречается в ячейках (списках).
Это можно сделать с помощью explode, применив его к genres,
после чего в каждой ячейке будет только по одному жанру 
и далее подсчет можно сделать  уже с помощью value_counts.'''

'Поэтому, для начала нужно преобразовать строки в списки. \nПосле чего нужно будет посчитать, сколько раз каждый из жанров встречается в ячейках (списках).\nЭто можно сделать с помощью explode, применив его к genres,\nпосле чего в каждой ячейке будет только по одному жанру \nи далее подсчет можно сделать  уже с помощью value_counts.'

ВАРИАНТ 2

In [397]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data_genres = data['genres'].str.split('|') #преобразовываем строки в списки
data_genres = data_genres.explode() #нужно разбить жанры по одному в строке
answers['11'] = data_genres.value_counts().index[0] #подсчитываем количество каждого из значений (жанров)
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [400]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
# выбираем из дф фильмы с положительным профитом
profit_film = data[data.profit > 0].copy() 
# в столбце с жанрами строки Превратить в список,
#используя разбиение по разделителю |
profit_film.genres = profit_film.genres.str.split('|') 
# применяем explode к столбцу с жанрами, чтобы в каждой ячейке фильм относился к  одному жанру
profit_genres = profit_film.explode('genres').genres 
# в полученной серии подсчитываем количество каждого из значений (жанров)
answers['12'] = profit_genres.value_counts().index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [401]:
data = pd.read_csv('movie_bd_v5.csv')
revenue_by_director = data.copy()
revenue_by_director.director = revenue_by_director.director.apply(lambda s: str(s).split("|")) #создание столбца Режессеров

revenue_by_director = revenue_by_director.explode("director")
answers['13'] = revenue_by_director.groupby("director").revenue.sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

In [191]:
import pandas as pd
df = pd.DataFrame({'col0': [1000,555],'col1': [['element1','element2','element3'], ['element4','element5']], 
                   'col2': ['FFFF', 'DDDD']})
display(df)
df.explode('col1')

   col0                            col1  col2
0  1000  [element1, element2, element3]  FFFF
1   555            [element4, element5]  DDDD

   col0      col1  col2
0  1000  element1  FFFF
0  1000  element2  FFFF
0  1000  element3  FFFF
1   555  element4  DDDD
1   555  element5  DDDD

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [407]:
data_14 = data.copy()
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director')
data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('genres')
answers['14']= data_14[data_14['genres'] == 'Action'].director.value_counts().sort_values(ascending=False).index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [409]:
films_2012 = data[data.release_year == 2012].copy()# собрали  фильмы 2012 в датафрейм
films_2012 ['cast'] = films_2012 ['cast'].str.split('|')# преобразовать переменные str в ряды
films_2012  = films_2012 .explode('cast')# преобразовать переменные str в ряды
answers['15'] = films_2012.groupby('cast').revenue.sum().sort_values(ascending=False).index[0] # выбираем самые прибыльные фильмы года по актерам
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [410]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv') # обращене к  датафрейму
data = data[data.budget > data.budget.mean()]#определяем фильмы с бюджетом выше среднего
data.cast = data.cast.str.split('|')#преобразуем str элементы поля Актер в списки 
data = data.explode('cast')#разделяем списки актеров на отдельные элементы
answers['16'] = data.cast.value_counts().index[0]#считаем кол-во фильмов с юджетом выше среднего у каждого актера
answers['16']

'Matt Damon'

In [ ]:
# здесь использование функции map:
data = pd.read_csv('movie_bd_v5.csv')
data['cast']=data.cast.map(lambda x: x.split('|'))
cast=data.explode('cast')
cast[cast['budget']>cast['budget'].mean()].groupby('cast')[['original_title']].count().sort_values(by='original_title', ascending=False)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [411]:
import pandas as pd
data17 = pd.read_csv('movie_bd_v5.csv') # обращене к  датафрейму
data17.cast = data17.cast.str.split('|')#преобразуем str элементы поля Актер в списки 
data17.genres = data17.genres.str.split('|')#преобразуем str элементы поля Жанры в списки 
data17 = data17.explode('cast')#разделяем списки актеров на отдельные элементы
data17 = data17[data17.cast == 'Nicolas Cage']#определяем фильмы с Nicolas Cage
data17 = data17.explode('genres').genres # разделяем на отдельные элементы
answers['17'] = data17.value_counts().index[0] #кол-во жанров
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [425]:
import pandas as pd
data18 = pd.read_csv('movie_bd_v5.csv')
data18['profit'] = data['revenue'] - data['budget']#вычисляем профит
data_PP = data18[data18.production_companies.str.contains('Paramount Pictures')]# выделяем дата фрейм по Paramount Pictures
#Сгруппируем по release_year посчитаем сумму дохода через profit осортируем по убыванию
answers['18'] = data_PP.groupby(['original_title'])['profit'].sum().sort_values(ascending=True).index[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [427]:
import pandas as pd
data19 = pd.read_csv('movie_bd_v5.csv')
#Сгруппируем по release_year посчитаем сумму  осортируем по убыванию
answers['19'] = data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [430]:
import pandas as pd
data20 = pd.read_csv('movie_bd_v5.csv')
data20['profit'] = data['revenue'] - data['budget']#вычисляем профит
data_WB = data20[data20.production_companies.str.contains('Warner Bros')]# выделяем дата фрейм содерж Warner Bros
#Сгруппируем по release_year посчитаем сумму дохода через profit осортируем по убыванию:
answers['20'] = data_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [432]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
# сгруппируем по release_date (в котором должны быть только месяцы)
data['month'] = pd.to_datetime(data.release_date).dt.month
# посчитать с  count и отсортировать полученный результат
answers['21'] = data['month'].value_counts().index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [433]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = pd.to_datetime(data.release_date)#преоразуем дату в год-месяц-число
#shape -  считает размеры массива, отсортированного по месяцам. 
answers['22'] = data[data.release_date.dt.month.isin([6,7,8])].shape[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [434]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = pd.to_datetime(data.release_date)
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
answers['23'] = winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False).index[0]
answers['23']

'Peter Jackson'

In [316]:
type('release_date')

str

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [436]:
import pandas as pd
data_24 = data.copy()
data_24['original_title'] = data_24.overview.map(lambda x: len(x.split(' ')))#подсчитывает кол-во знаков в названии
#компаний может быть несколько, преобразуем в список
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')# разделяем компании построчно
#группировка компаний по длине названий 
answers['24'] = data_24.groupby('production_companies')['original_title'].max().sort_values(ascending=False).index[0]
answers['24']

'Lions Gate Films'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [439]:
import pandas as pd
data_25 = data.copy()
data_25['overview_words_length'] = data_25.overview.map(lambda x: len(x.split(' ')))#
data_25['production_companies'] = data_25['production_companies'].str.split('|')#компаний может быть несколько, преобразуем в список
data_25 = data_25.explode('production_companies')
answers['25'] = data_25.groupby('production_companies')['overview_words_length'].mean().sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [363]:
percent_rating_value = 1
data.original_title[data.vote_average.sort_values(ascending=False)
                    [0:round(percent_rating_value*len(data)/100)-1].index]

599                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1081    The Lord of the Rings: The Return of the King
138                          The Grand Budapest Hotel
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
1800                                          Memento
128                                         Gone Girl
872                                       The Pianist
1191                                 12 Years a Slave
283                                        Mr. Nobody
1688                              There Will Be Blood
863             The Lord of the Rings: The Two Towers
155                          The Theory of Everything
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [442]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight
 Name: original_title, dtype: object,
 '10': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Robert Rodriguez',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Lions Gate Films',
 '25': 'Midnight Picture Show'}

In [441]:
# и убедиться что ни чего не пропустил)
len(answers)

25