In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1307,tt2431286,12000000,100129872,Philomena,Judi Dench|Steve Coogan|Sophie Kennedy Clark|M...,Stephen Frears,These two unlikely companions are on a journey...,"A woman searches for her adult son, who was ta...",98,Drama,BBC Films|The Weinstein Company|Baby Cow Produ...,11/1/2013,7.4,2013
531,tt0266987,92000000,143049560,Spy Game,Robert Redford|Brad Pitt|Catherine McCormack|S...,Tony Scott,It's not how you play the game. It's how the g...,Veteran spy Nathan Muir is on the verge of ret...,126,Action|Crime|Thriller,Universal Pictures|Metropolitan Filmexport|Toh...,11/18/2001,6.5,2001
1737,tt0425413,10000000,33000000,Run Fatboy Run,Simon Pegg|Thandie Newton|Hank Azaria|Dylan Mo...,David Schwimmer,Love. Commitment. Responsibility. There's noth...,Five years after jilting his pregnant fiancÃ©e...,100,Comedy|Romance,Entertainment Films|Material Entertainment|Bee...,9/6/2007,6.2,2007
917,tt0279331,15000000,9237470,Dark Blue,Kurt Russell|Scott Speedman|Michael Michele|Br...,Ron Shelton,"1992, L.A is at boiling point. One cop's turni...","Set during the Rodney King riots, a robbery ho...",118,Action|Crime|Drama|Thriller,United Artists|Intermedia Films|IM Filmprodukt...,12/14/2002,6.7,2002
585,tt0244000,35000000,13678913,American Outlaws,Colin Farrell|Scott Caan|Ali Larter|Gabriel Ma...,Les Mayfield,Sometimes the wrong side of the law is the rig...,When a Midwest town learns that a corrupt rail...,94,Action|Western,Warner Bros. Pictures|Morgan Creek Productions,8/17/2001,5.8,2001

In [62]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [59]:
answers = {5} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [130]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
top_budget_movie = data.nlargest(1, columns=["budget"])["original_title"]
print(top_budget_movie)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [6]:
# можно добавлять разные варианты решения
data.budget.max()

380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [131]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals'

In [138]:
data = pd.read_csv('movie_bd_v5.csv')
top_runtime_movie = data.nlargest(1, columns=["runtime"])["original_title"]
print(top_runtime_movie)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [139]:
data = pd.read_csv('movie_bd_v5.csv')
min_runtime_movie = data.nsmallest(1, columns=["runtime"])["original_title"]
print(min_runtime_movie)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [151]:
data = pd.read_csv('movie_bd_v5.csv')
mean_runtime = data['runtime'].mean()
display(mean_runtime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [155]:
data = pd.read_csv('movie_bd_v5.csv')
data.median ()

budget          38000000.0
revenue         83615414.0
runtime              107.0
vote_average           6.1
release_year        2008.0
dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [130]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
data['profit'].max()# профит макисум
# превратить профит в дата фрейм  . как?
#присоединить столбец 'профит' к дата фрейму DATA Это видимо функция  join?
# найт минимум в строке по колонке "original_title"

data[(data.revenue==data.revenue.max())].original_title

239    Avatar
Name: original_title, dtype: object

In [35]:
data = pd.read_csv('movie_bd_v5.csv') #образаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
profit_max = data['profit'].max()#находим максимальное значение профит
film = data[data.profit == profit_max]#определяем строку с макс профитом
film ['original_title']#выдаем название

239    Avatar
Name: original_title, dtype: object

7. Какой фильм самый убыточный?

In [36]:
data = pd.read_csv('movie_bd_v5.csv') #образаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
profit_min = data['profit'].min()#находим мин значение профит
film = data[data.profit == profit_min]#определяем строку с мин профитом
film ['original_title']#выдаем название

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [56]:
data = pd.read_csv('movie_bd_v5.csv') #образаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
profit_film = data[data.profit > 0]#находим положительное значение профит
len(profit_film)#считаем кол-во убыточных фильмов

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [139]:
data = pd.read_csv('movie_bd_v5.csv') #обращаемся к дата фрейму
films_2008 = data[data.release_year == 2008]# собрали  фильмы 2008 в датафрейм
films_2008[(films_2008.revenue==films_2008.revenue.max())].original_title #выделим название самого кассового 2008

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [147]:
data = pd.read_csv('movie_bd_v5.csv') #обращаемся к дата фрейму
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
films_2012_2014 =data[data.release_year.between(2012,2014)]# собрали  фильмы 2012_2014 в датафрейм
films_2012_2014[(films_2012_2014.profit==films_2012_2014.profit.min())].original_title #выделим название самого убыточного

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [201]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
'''Поэтому, для начала нужно преобразовать строки в списки. 
После чего нужно будет посчитать, сколько раз каждый из жанров встречается в ячейках (списках).
Это можно сделать с помощью explode, применив его к genres,
после чего в каждой ячейке будет только по одному жанру 
и далее подсчет можно сделать  уже с помощью value_counts.'''

'Поэтому, для начала нужно преобразовать строки в списки. \nПосле чего нужно будет посчитать, сколько раз каждый из жанров встречается в ячейках (списках).\nЭто можно сделать с помощью explode, применив его к genres,\nпосле чего в каждой ячейке будет только по одному жанру \nи далее подсчет можно сделать  уже с помощью value_counts.'

ВАРИАНТ 2

In [206]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data_genres = data['genres'].str.split('|') #преобразовываем строки в списки
data_genres = data_genres.explode() #нужно разбить жанры по одному в строке
data_genres.value_counts() #подсчитываем количество каждого из значений (жанров)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [204]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
# выбираем из дф фильмы с положительным профитом
profit_film = data[data.profit > 0].copy() 
# в столбце с жанрами строки Превратить в список,
#используя разбиение по разделителю |
profit_film.genres = profit_film.genres.str.split('|') 
# применяем explode к столбцу с жанрами, чтобы в каждой ячейке фильм относился к  одному жанру
profit_genres = profit_film.explode('genres').genres 
# в полученной серии подсчитываем количество каждого из значений (жанров)
profit_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [215]:
data = pd.read_csv('movie_bd_v5.csv')
revenue_by_director = data.copy()
revenue_by_director.director = revenue_by_director.director.apply(lambda s: str(s).split("|")) #создание столбца Режессеров

revenue_by_director = revenue_by_director.explode("director")
answer13 = revenue_by_director.groupby("director").revenue.sum().sort_values(ascending=False).index[0]
answer13

'Peter Jackson'

In [190]:
data = pd.read_csv('movie_bd_v5.csv')
director_splitted = data['director'].str.split('|', expand=False)
ans = director_splitted.explode()
ans

0        Colin Trevorrow
1          George Miller
2       Robert Schwentke
3            J.J. Abrams
4              James Wan
              ...
1884        Bryan Singer
1885            Uli Edel
1886         Des McAnuff
1887        Diane Keaton
1888        Mary Lambert
Name: director, Length: 2053, dtype: object

In [191]:
import pandas as pd
df = pd.DataFrame({'col0': [1000,555],'col1': [['element1','element2','element3'], ['element4','element5']], 
                   'col2': ['FFFF', 'DDDD']})
display(df)
df.explode('col1')

   col0                            col1  col2
0  1000  [element1, element2, element3]  FFFF
1   555            [element4, element5]  DDDD

   col0      col1  col2
0  1000  element1  FFFF
0  1000  element2  FFFF
0  1000  element3  FFFF
1   555  element4  DDDD
1   555  element5  DDDD

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [220]:
data_14 = data.copy()
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director')
data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('genres')
data_14[data_14['genres'] == 'Action'].director.value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Anne Fletcher         1
Antony Hoffman        1
John Erick Dowdle     1
Robert Stromberg      1
Sydney Pollack        1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [229]:
films_2012 = data[data.release_year == 2012].copy()# собрали  фильмы 2012 в датафрейм
films_2012 ['cast'] = films_2012 ['cast'].str.split('|')# преобразовать переменные str в ряды
films_2012  = films_2012 .explode('cast')# преобразовать переменные str в ряды
films_2012.groupby('cast').revenue.sum().sort_values(ascending=False) # выбираем самые прибыльные фильмы года по актерам

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [230]:
datax = pd.read_csv('movie_bd_v5.csv')
datax['cast']=datax.cast.map(lambda x: x.split('|'))
datax=datax.explode('cast')
datax[datax['budget']>datax['budget'].mean()].groupby('cast')[['original_title']].count().sort_values(by='original_title', ascending=False)

                         original_title
cast
Matt Damon                           18
Adam Sandler                         17
Angelina Jolie                       16
Tom Cruise                           15
Eddie Murphy                         15
...                                 ...
Jennifer Hudson                       1
Jennifer Jason Leigh                  1
Jennifer Saunders                     1
Jennifer Tilly                        1
Ã“lafur Darri Ã“lafsson               1

[1505 rows x 1 columns]

In [234]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.budget > data.budget.mean()]
data.cast = data.cast.str.split('|')
data = data.explode('cast')
data.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Tom Cruise           15
                     ..
Andy Buckley          1
Diane Keaton          1
Chris O'Donnell       1
Noah Emmerich         1
Matthew Macfadyen     1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)